body {
  background-color: #29ABE2;
  color: white;
  margin: 0px;
  padding: 0px;
}

a { color: inherit; } 
a:hover { 
  text-decoration: none; 
  cursor: pointer;  
}


.title {
  text-align: center;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5 rem;
}

/* Gives background color for section/article containers and padding between them */
.cont {
  /* width: 100%; */
  
  margin: 4px 2px;
  /* background-color: #2b2b2b; */
  background-color: #F7931E;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 6px;
  /* justify-self: center; */
}

.link {
  color: #1ecbe1;
  font-weight: bold;
}

.modals {
  background-color: #18A0B1;
}

.footer {
  /* justify-content: center; */
  /* position: absolute; */
  bottom: 0;
  /* height: 2.5rem; */
  text-align: center;
  margin-top: 3rem;
  /* margin-left: 6rem;
  margin-right: 6rem; */
  background-color:#F7931E;
  color: white;
  border-radius: 3px;
}

header {
  margin-bottom: 8px;
}

.spacer {
  margin-top: 12px;
}

/* For Buttons */
.button {
  background-color: white;
  /* border: solid; */
  color: #29ABE2;
  border-radius: 8px;
  padding: 8px 16px;
  text-align: center;
  display: inline-block;
  margin-left: 4px;
  /* margin: 4px 2px; */
}

.button:hover {
  color: #1BEF0C !important;
}

/* For Sign Up Modal */
#alreadyHaveAccount:hover {
  color: #1BEF0C !important;
}

.q-rmv {
  color: red;
  padding: 2px 12px;
  margin: 3px 1px;
}

/* For Hamburger Menu */
#hamburger {
  color: white;
}
#hamburger:hover {
color: #1BEF0C;
  text-decoration: none;
}

.dropdown-menu {
background-color: #2b2b2b;
}
.dropdown-item {
color: white;
}
.dropdown-item:hover {
background-color: #2b2b2b;
color: #1BEF0C;
}

/* For Quiz and Dropdown Options */
ul {
  padding-left: 0px;
}

li a{
  color: white;
}

li a:hover {
  color: #1BEF0C;
  text-decoration: none;
}

li {
  list-style-type: none;
}

li:hover {
  color: #1BEF0C;
  text-decoration: none;
}

/* Remove default href garb */
.text {
  color:white;
  text-decoration: none;
}

.text:hover {
  color: #1BEF0C;
  text-decoration: none;
}

.row {
justify-content: center;
}

.bg-dark {
  background-color: #2b2b2b !important;
}

h3 {
text-align: center;
}
h2 {
  text-align: center;
}

p {
    text-align: center;
  }

.hide {
    display: none;
}

.valid {
    background-color: red;
}

.selected {
  color: green;
}